body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.big-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.error p {
    font-weight: 500;
    font-size: 1.1rem;
}

.error {
    color: red;
}

.success {
    color: green;
}

input {
    width: 47%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.styled-select {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.styled-select select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('https://image.flaticon.com/icons/svg/992/992651.svg') no-repeat right #f0f0f0;
    background-position: calc(100% - 10px) center;
    cursor: pointer;
}

button, .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all 0.7s ease;
    text-decoration: none;
    font-size: 1rem;
}

.button {
    width: inherit;
}

button:hover, .button:hover {
    background-color: #0056b3;
    transition: all 0.7s ease;
    transform: scale(1.05);
}

.big-container button, .big-container .button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 16px;
}

.bgs-link {
    background: linear-gradient(to right, #305daa, #c43044);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: all 0.7s ease;
}

.bgs-link:hover {
    background: linear-gradient(to right, #1e3969, #972535);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: all 0.7s ease;
}

@media screen and (min-width: 768px) {
    .big-container {
        max-width: 900px;
    }
    .grid {
        grid-template-columns: repeat(2,2fr);
        grid-gap: 1rem;
    }
    .big-container button, .big-container .button {
        width: 80%;
    }
}